<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title> BBPExam </title>
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="shortcut icon" href="favicon.ico" />

<!-- materialize -->
<link rel="stylesheet" href="/assets/css/materialize.min.css" />


<!-- text fonts -->
<link rel="stylesheet" href="/assets/css/roboto.css" />


<!-- Sweet Alert2 -->
<link rel="stylesheet" href="/assets/css/sweetalert2.min.css" />
