<!-- basic scripts required -->
<script type="text/javascript" src="/assets/angular-1.4.8/angular.min.js"></script>
<script type="text/javascript" src="/assets/angular-1.4.8/angular-cookies.min.js"></script>
<script type="text/javascript" src="/assets/angular-1.4.8/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/assets/js/own/core/test.main.js"></script>
<script type="text/javascript" src="/assets/js/own/core/test.directives.js"></script>
<script type="text/javascript" src="/assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>
<script type="text/javascript" src="/assets/js/materialize.min.js"></script>









