<!DOCTYPE html>
<html lang=<%=locale%> ng-app="testBBP">
<head>
    <%include partials/head.ejs%>    
</head>
<body data-ng-controller="homeController">        
    <div class="container">
        <div class = "row">            
            <div class="section">
                <h5 class="center-align">
                    Control de cobro por reporte de trabajo
                </h5>                
            </div>
            <div class="divider"></div>
        </div>
        <div class="row">
            <div class="col s12 m4 l4 xl4">                    
                <div class="card">                                        
                    <div class="card-content blue white-text">                        
                        <p class="center-align">Solo acepta reportes de trabajo en formato .txt</p>                                                        
                    </div>
                    <div class="card-action">
                        <input type='file' select-ng-files ng-model="fileArray"  id="btnFileUpload" style="display: none;" accept='text/plain' >    
                        <div id="horizontal" class="scrollspy section">        
                            <div style="position: relative; height: 60px;">
                                <div class="fixed-action-btn horizontal direction-top direction-left" 
                                style="position: absolute; display: inline-block; right: 24px;">
                                    <a class="btn-floating btn-large green">
                                        <i class="large material-icons">dehaze</i>
                                    </a>
                                    <ul>
                                        <li>
                                            <a class="btn-floating blue" onclick="callButton()" style="opacity: 0; transform: scale(0.4) translateY(0px) translateX(40px);">
                                            <i class="material-icons">cloud_upload</i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn-floating red" ng-click="clearFile()" style="opacity: 0; transform: scale(0.4) translateY(0px) translateX(40px);">
                                            <i class="material-icons">delete</i>
                                            </a>
                                        </li>                                           
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <h6>Archivo</h6>
                                <div ng-repeat="file in fileArray">
                                    {{file.name}}
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4 xl4">                    
                <div class="card">                                        
                    <div class="card-content blue white-text">                        
                        <p class="center-align">Contenido del reporte de trabajo</p>                                                        
                    </div>                    
                    <div class="card-action">
                        <!--<div class="col s12">
                            <h6  class="center-align" ng-show="isLoaded">Procesar</h6>                            
                        </div>-->
                        <div class="col s12">
                            <p class="center-align" ng-show="isLoaded">
                                <a class="btn-floating btn-large  green  pulse" ng-click="processFile()"><i class="material-icons">send</i></a>
                            </p>
                        </div>
                    </div>
                    <div class="row" ng-bind-html-compile="contentFile"></div>
                </div>
            </div>
            <div class="col s12 m4 l4 xl4">                        
                <div class="card">                                        
                    <div class="card-content blue white-text">                        
                        <p class="center-align">Resultados</p>                                                        
                    </div>
                    <div class="card-action" ng-bind-html-compile="resultProcess">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%include partials/scripts.ejs%>
    <script type="text/javascript">
        
        let callButton = function() {
            let button = document.getElementById('btnFileUpload');
            button.click();        
        };
        
                            
        document.addEventListener('DOMContentLoaded', function() {
                        
            let collapsibleElements = document.querySelectorAll('.collapsible');
            let collapsibleInstance = M.Collapsible.init(collapsibleElements, {});
            
            let elems = document.querySelectorAll('.fixed-action-btn');
            let options = {
                direction: 'left',
                hoverEnabled: true
            };
            let instances = M.FloatingActionButton.init(elems, options);
        });
    
    </script>
    <script type="text/javascript" src="/assets/js/own/home/index.js"></script>
</body>
</html>







    